impacket>=0.9.15
gevent>=1.2.0
netaddr
pycrypto
pyasn1
termcolor
requests
pyOpenSSL
msgpack-python
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.1.5 # not directly required, pinned by Snyk to avoid a vulnerability
